* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: gray;
}
img{
  width: 220px;
  height: 300px;
  border-radius: 10px;
}
#input{
  padding: 10px;
}
input{
  padding: 10px;
  border-radius: 10px;
}
.maincontainer{
  margin-left: 20px;
  margin-top: 20px;
}
.card_container{
 flex-wrap: wrap;
  display: flex;
  gap: 5px;
}